body {
	padding-top: 50px;
}

h1 {
	margin-top: -4px;
}

.navbar {
	margin-bottom: 0;
}

.navbar .btn-link {
	padding: 3px 20px;
	color: #333;
	display: block;
	width: 100%;
	text-align: left;
}

.navbar .btn-link:hover {
	text-decoration: none;
	background-color: #f5f5f5;
    color: #262626;
}

.page-wrap {
	padding-top: 15px;
	padding-bottom: 15px;
}

.tools {
	padding: 8px;
	border: solid 1px #ddd;
	margin-bottom: 8px;
}

.inline {
	display: inline !important;
}

.panel-border-top {
	border-top: solid 1px #ddd;
	padding-top: 30px;
}

table {
	table-layout: fixed;
}

table.table > tbody > tr > td {
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.table th.sortable {
	padding: 0;
	vertical-align: inherit;
}

table.table th.sortable a {
	display: block;
	width: 100%;
	padding: 8px;
	color: #333;
}

table.table th.sortable a:hover {
	text-decoration: none;
}

table.table th.sortable .dir {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table.table th.sortable.asc .dir:before {
	 content: "\e093";
}


table.table th.sortable.desc .dir:before {
	 content: "\e094";
}




/* ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

.navbar-default .navbar-nav > .dropdown:hover > a {
	background-color: #e7e7e7;
	color: #555;
}

@media (min-width: 979px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;
	}
} */
