.authentication-container {
	background: #f8f8f8;
	border: solid 1px #e7e7e7;
	border-radius: 8px;
	padding: 24px;
}

.container-body {
	background: #fff;
	border: solid 1px #e7e7e7;
	border-top: none;
	padding: 16px;
}
